@{
    @model Usuario 
        Layout = "~/Views/Shared/layoutAdmin.cshtml";
    string id = ViewContext.HttpContext.Request.Query["id"];
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlogShip</title>
    <link rel="stylesheet" href="~/css/login_registro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="form-container">
        <form asp-controller="Home" asp-action="GuardarCambios" method="post">
            <h2 class="text-center mb-4">Editar Usuario</h2>
            <div class="form-group">
                <label asp-for="nombreCompleto_usuario"><i class="bi bi-caret-right"></i>Nombre Completo</label>
                <input asp-for="nombreCompleto_usuario" type="text" class="form-control" value=@Model.nombreCompleto_usuario required>
            </div>
            <div class="form-group">
                <label asp-for="movil_usuario"><i class="bi bi-caret-right"></i>Teléfono</label>
                <input asp-for="movil_usuario" type="text" class="form-control" value=@Model.movil_usuario required pattern="[0-9]{9}">
            </div>
            <div class="form-group">
                <label asp-for="alias_usuario"><i class="bi bi-person"></i>Alias de Usuario</label>
                <input asp-for="alias_usuario" type="text" class="form-control" value=@Model.alias_usuario required>

            </div>
            <div class="form-group">
                <label asp-for="email_usuario"><i class="bi bi-envelope-at"></i>Email</label>
                <input asp-for="email_usuario" type="email" class="form-control" value=@Model.email_usuario required>
            </div>
            <input type="hidden" name="id" value="@id" />
            <button type="submit" name="accion" value="guardar" class="btn btn-dark btn-block">Guardar Cambios</button>
            <button type="submit" name="accion" value="borrar" class="btn btn-danger btn-block" onclick="return confirmacionBorrar();">Borrar Usuario</button>
        </form>
    </div>
    <script>
        function confirmacionBorrar() {
            return confirm('¿Estás seguro de que quieres borrar?');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

