
@{
    ViewData["Title"] = "EnviadoRecuperar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlogShip</title>
    <link rel="stylesheet" href="~/css/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container confirmation-container">
        <div class="jumbotron">
            <h1 class="display-4">¡Email de recuperación enviado!</h1>
            <p class="lead">Siga los pasos del email para recuperar su contraseña</p>
            <hr class="my-4">
            <p class="lead">
            </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>

